.imagecontainer {
    width: 100px;
    margin: auto;
    display: block;
    justify-items: center;
    
    
}

.image {
    margin: auto;
    display: block;
    justify-items: center;
    width: 50%;
    
    
}